$primary-color: #284B63;

.content {
    width: 80%;
    margin: 2rem auto;

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 1rem;
    }

    .grid {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: space-around;

        &>* {
            flex: 1 1 0px;
        }
    }

    .banner {
        .mat-card-title {
            font-size: 36px;
        }
    }

    .card {
        max-width: 400px;

        mat-card-header,
        mat-card-content {
            padding: 1rem;
        }

        img {
            height: 150px;
            border-radius: 20px;
            display: block;
            margin: auto;
        }
    }

    .stars-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        p {
            font-size: 1rem;
        }

        .stars {
            color: #c1c1c1;
        }

        .stars>mat-icon:nth-child(-n+3) {
            color: $primary-color;
        }
    }

    mat-form-field input {
        width: 500px;
    }

    .comments-grid {
        margin-top: 3.125rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }

    .example-header-image2 {
        background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
        background-size: cover;
    }

    .liked {
        color: #FF1313;
    }

    .disliked {
        fill: #2C97E0;
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #f0f0f0;
        border-radius: 8px;
        margin-right: 3px;
    }


}